@import url("https://fonts.googleapis.com/css2?family=Ysabeau+Office:ital,wght@0,1..1000;1,1..1000&display=swap");

/* Dark Theme (default) */
:root {
  --background-color: #f7f7f7;
  --text-color: #000000;
  --blue: #c0eef2;
  --yellow: #537fe7;
  --orange: #537fe7;
  --green: #537fe7;

  --card-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
  --input-bg: #eeeeee;
  --link-hover: #8a99c7;
  --button-bg: #537fe7;
  --button-hover-bg: #4056a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Ysabeau Office", serif;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.8;
  margin: 0 auto;
}
main,
header,
footer {
  padding: 2rem;
}
a:link,
a:visited {
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--link-hover);
}

input[type="checkbox"] {
  margin-right: 10px;
}

.navbar-brand:link,
.navbar-brand:visited {
  color: inherit;
  font-size: 2.4rem;
  font-weight: 900;
  transition: all 0.3s;
}
.navbar-brand:hover,
.navbar-brand:active {
  color: blue;
}

/* FORM SIGN IN/SIGN UP */

.modal-dialog {
  min-height: 100vh;
  width: 80rem;
  max-width: 100vw;
  margin: 0;
  position: fixed;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.modal-content {
  box-shadow: var(--card-shadow);
  background-color: var(--background-color);
  border-radius: 1rem;
  padding: 2rem;
}

.modal-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.8rem;
}

.modal-title {
  font-size: 3.2rem;
  font-weight: 900;
  color: inherit;
}

.btn-close {
  background-color: var(--blue);
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

/* Style for modal body */
.modal-body {
  padding: 20px;
}

.form-label {
  font-size: inherit;
  color: #747264;
}

.form-control {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  font-size: inherit;
  font-family: inherit;
}

.form-control::placeholder {
  color: #747264;
  font-size: 1.4rem;
}

/* Button styles */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

#toggleAuth {
  color: #007bff;
  text-decoration: none;
}

#toggleAuth:hover {
  text-decoration: underline;
}

/* FORM SEARCH*/

#city {
  width: 40rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 0 1.2rem;
  margin: 0rem 1rem 1rem 0;
  color: inherit;
}

#city::placeholder {
  color: #747264;
}

.btn-primary {
  color: var(--text-color);
  background-color: var(--primary);
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: var(--button-hover-bg);
}

.btn {
  width: 5rem;
  height: 4rem;
  text-transform: uppercase;
}

/* TOGGLE  */

#theme-toggle {
  color: var(--primary);
}

/* User Avatar */
.user-name {
  font-size: 1.4rem;
}
.btn-outline-secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s;
  font-size: 1rem;
  font-family: inherit;
}

.btn-outline-secondary:hover {
  background-color: var(--background-color);
}

/* ///////////////////////////// */
main {
  margin: 3.2rem 4.8rem;
}
/* NAV-LINKS */
.nav {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}
.nav-link:link,
.nav-link:visited {
  color: #747264;
  font-size: 2rem;
}
.nav-link.active {
  color: var(--text-color);
  font-weight: 700;
}

/* Dashboard */
section {
  margin-bottom: 3.2rem;
}

/* CHART  */

#hourlyForecastChart {
  width: 100% !important;
  height: 20rem !important;
  border: none; /* Add a border to make it visible */
  font-family: inherit;
}

/* TODAY AND TOMORROW */
#today {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: start;
  align-items: start;
  gap: 2.4rem;
}

.temp-col {
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: var(--card-shadow);
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
.message-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.2rem;
}

.message-col div {
  box-shadow: var(--card-shadow);
  padding: 2rem;
  border-radius: 1rem;
}

.weather-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
  justify-content: space-between;
}
/* NEXT 5 DAYS */
#next-days {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  margin-bottom: 8rem;
}

#today.hidden,
#next-days.hidden {
  display: none !important;
}

.card {
  border: none;
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  box-shadow: var(--card-shadow);
  border-radius: 1rem;
  padding: 1.8rem;
  width: auto;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  transition: all 0.5s ease-in;
}

.temp {
  font-size: 4.8rem;
  font-weight: 900;
}
.card.active {
  flex: 2;
  justify-content: start;
  align-items: start;
}

.card-content {
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.card-content span {
  font-size: 1.4rem;
}
.card.active .card-content {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.icon-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin-bottom: 2rem;
  transition: all 0.3s ease;
}

.card.active .icon-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* TASK SECTION */
#task-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: space-between;
  align-items: start;
  gap: 2.4rem;
}

#task-container .col {
  box-shadow: var(--card-shadow);
  border-radius: 1rem;
  padding: 1.8rem;
}

.progress-col {
  height: 24rem;
}

/*  */
ul.list-group {
  box-shadow: var(--card-shadow);
  padding: 0;
}

.list-group-item {
  border: none;
  box-shadow: var(--card-shadow);
}

.list-group-item:hover {
  background-color: var(--background-color);
}

/* Flex Layout for Navbar */
.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#city-name {
  display: flex;
  align-items: center;
}

#city-name .me-2 {
  margin-right: 10px;
}

/* Light Theme */
[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #f5f5f5;
  --input-bg: #d8d2c2;
}

[data-theme="dark"] body {
  background-color: var(--background-color);
  color: var(--text-color);
}

[data-theme="dark"] .navbar .nav-link {
  color: var(--text-color);
}

[data-theme="dark"] .navbar .nav-link:hover {
  color: var(--primary);
}
